.secao {
    background-color: #888888;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    padding: 2rem;
}

.titulo {
    color: #171d1f;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 33px;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item {
    border-bottom: 1px solid #3e3e3f;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
